
/* Diseño para el body */
body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
     margin: 36px 0 18px;
}

/* Tipo de letra y nivel de negrita para todos los tamaños */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif ;
    font-weight: normal;
}

/* Diseño para el container: secciónes definidas dentro de html*/
.container {   
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    border-bottom: 1px solid #527F76;
}

/* Diseño para las palabras en h1 */
 h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
} 


/* Color y padding de la sección de los artículos */
.portfolio {
    background: white;
    padding: 50px;
} 

/* Diseño de los artículos cuando aparecen enlistados */
.project {
    border-radius: 10px; 
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;   
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Diseño de la fecha y nombre del autor del aartículo */
.project-date {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    color: darkgray;
    margin: 10px 0;
} 


/* Diseño del resumen del artículo */
.project-description {
    font-size: 20px;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
}


/* Diseño del título */
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #527F76;
}

.project-details {
    width: 100%;
 }



/* Diseño del header: título y menú */ 
.header {
    background-color: white ;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    height: 90px; 
    flex-wrap: wrap;
}

/* Diseño para la listas del menú */
  .header ol {
    display: flex;
    height: inherit;
} 


 /* Esto asigna color a las palabras del header */
 .header a {
    color: 	#545454;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 150%;
 }


ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

figure {
    margin: 0;
}

/* Diseño del footer */
.footer {
    color: #858585;
    background-color: white;
    display: flex; 
    align-items: center;
    /* Centra el contenido del footer */
    justify-content: center;
    flex-wrap: wrap;
}


/* Diseño para la sección de redes sociales */
.contact {
    background-color:#669999 ;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    /* Centrar los simbolos de redes sociales */
    justify-content: center;
    flex-wrap: wrap;

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;  
} 

.social-link.twitter {
    background-image: url(../images/twitter.svg);
}


.social-link.github {
    background-image: url(../images/github.svg);
}

.social-link.instagram {
    background-image: url(../images/instagram.svg);
}


@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;    
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
/*         text-decoration: underline;
 */        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }
    .project {
        display: block;
    }
    .project-details {
        width: auto;
 /*        font-size: 16px; */
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-date {
        font-size: 1em;
        margin: .3em 0;
    }
    .project-description {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .project-details {
        font-size: 14px;
    }
    .contact {
        height: auto;
        padding: 1.5em 0 ;
        text-align: center;
        display: block;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px) {

}